* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 15px;
}

body {
    background-color: #ffffff;
    color: #302f2e;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 0%;
}

nav {
    height: 7vh;
    color: #ffffff;
    background-color: #ce8b0f;
    font-weight: 200;
    padding: 2em 3em 1em 3em;
    display: flex;
    justify-content: space-around;
}

#logo {
    font-size: 1.67em;
    font-weight: 400;
    width: 20%;
    padding-right: 3em;
}

#backdrop {
    height: 70vh;
    background-image: url("https://i.imgur.com/osLkmt4.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#slogan1 {
    font-size: 3.33em;
    font-weight: 900;
    color: #ffffff;
}

#slogan2 {
    font-size: 1.67em;
    font-weight: 400;
    color: #ffffff;
}

h1 {
    font-size: 2em;
    font-weight: 500;
}

.blank {
    width: 8rem;
    height: 0.3rem;
    background-color: #ce8b0f;
    border-radius: 50%;
}

.head {
    margin: 2rem 0rem 2rem 0rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.booking1 {
    display: flex;
    justify-content: space-around;
    height: 80vh;
}

#booking {
    height: 65vh;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form {
    height: 70vh;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1.339em;
    box-shadow: 0 0.26em 0.53em 0 rgba(0, 0, 0, 0.2), 0 0.4em 1.33em 0 rgba(0, 0, 0, 0.19);
}

#colour {
    color: #ce8b0f;
}

input {
    display: block;
    border: 0.0133333em solid black;
}

input::placeholder {
    color: gray;
    padding-left: 0.5em;
}


.box {
    width: 23.33em;
    height: 2.66em;
    margin: 0.5rem 0rem 0.7rem 0rem;

}

button {
    background-color: #ce8b0f;
    color: #ffffff;
    border: 0em;
    border-radius: 1.33em;
    transition: color 0.25s, box-shadow 0.25s, transform 0.25s, border-color 0.25s;
}

button:hover {
    border-color: #f6f6f6;
    color: #f6f6f6;
    box-shadow: 0em 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
    cursor: pointer;
}

.course {
    font-weight: 500;
    font-size: 1.466em;
    text-align: center;

}

.meal {
    width: 33.333em;
    height: 13.333em;
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2em 0em 2em 0em;
    border-radius: 1.33em;
}

.pic {
    width: 10em;
    height: 10em;
    border-radius: 1.33em;
    margin-left: 0.5em;
}

#menu {
    display: flex;
    justify-content: space-evenly;
}

.name {
    font-weight: 400;
    font-size: 1em;
    padding-left: 1.2em;
    margin: 2em 0em 1em 0em;
}

.description {
    font-weight: 400;
    font-size: 0.8666em;
    padding-left: 1.2em;
    width: 13.333em;
}

.price {
    color: #ce8b0f;
    display: block;
    margin-left: 15em;
    margin-top: 2em;
}

#jollof {
    background-image: url("https://i.imgur.com/L9Ry4Lc.jpeg")
}

#fried {
    background-image: url("https://i.imgur.com/HIGCM9s.jpeg")
}

#amala {
    background-image: url("https://i.imgur.com/QDqL0Kp.jpeg");
}

#efo {
    background-image: url("https://i.imgur.com/PPqEfKk.jpeg");
}

#okra {
    background-image: url("https://i.imgur.com/HO5bs1J.jpeg")
}

#ewedu {
    background-image: url("https://i.imgur.com/9Ettgqj.jpeg");
}

#intro {
    width: 23.33em;
    line-height: 1.8rem;
    text-align: justify;
}

#about {
    margin: 2.5em 1.5em 4em 4em;
    background-color: #f6f6f6;
    width: 89%;
    border-radius: 1.33em;
    align-items: center;

}

#aboutus {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
}

#ola {
    background-image: url("https://i.imgur.com/A2Z0Yek.jpg");
    background-repeat: no-repeat;
}

#enquiry {
    display: flex;
    justify-content: center;
}

#box {
    height: 4.666em;
}

footer {
    height: 30vh;
    background-color: #fcf8f1;
    color: #3f3d3a;
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 4.6667em 0em 0.33em 0em;
}

a {
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.5;
}

a:hover {
    color: #c7ede2;
}

.name a {
    color: #302f2e;
}

@media (min-width: 250px) and (max-width: 500px) {

    body {
        font-size: 10px;
    }

    #backdrop {
        height: 45vh;
    }

    nav {
        width: 10e;
    }

    #slogan1 {
        font-size: 3.08em;
    }

    #slogan2 {
        font-size: 1.42em;
    }

    .head {
        margin: 4em 0em 0.7em 0em;
    }

    .booking1,
    #menu {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .booking1 {
        height: 55vh;
    }


    #booking,
    .form {
        width: 25em;
        height: 30vh;
        align-items: center;
        justify-content: space-around;
    }

    #ola {
        background-image: url("https://i.imgur.com/qhpZBVW.jpeg");
        background-repeat: no-repeat;
        margin-top: 3em;
    }

    .form {
        height: 28em;
        width: 25em;
    }

    #form1 {
        height: 30em;
        justify-content: space-evenly;
    }

    #booking {
        height: 20vh;
    }

    #address {
        text-align: center;
    }

    .price {
        margin-left: 15em;
        margin-top: 2em;
    }

    #about {
        width: 33.333em;
        align-self: center;
        justify-self: center;
    }

    .box {
        width: 13.333em;
        height: 1.333em;
        margin: 0.5rem 0rem;
    }

    footer {
        height: 20vh;
        padding-left: 0.5em;
    }
}

nav {
    font-weight: 200;
    padding: 2em 1em 1em 1em;
    display: flex;
    justify-content: space-around;
}

#logo {
    font-size: 1.1em;
    font-weight: 400;
    width: 10%;
    padding-right: 1em;

}
